.table-search-box{
  .search-input{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 4px;
    padding: 8px;
  }
  .search-btn{
    display: inline-block;
    color: rgb(0, 178,35);
    margin-left: 20px;
  }
}
.table-box{
  margin: 20px 0;
  width: 100%!important;
}